.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1%;
}

.textbx {
    background-color: rgba(80, 81, 116, 0.86);
    border-radius: 11px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    width: 600px;
}

body {
    font-family: 'CooperHewittBook';
    text-align: center;
    background-color: rgb(5, 5, 54);
    color: white;
}

pre {
    text-align:left;
    height: 420px;
}
img {
    border-radius: 10px;
}

hr {
    width: 70%;
}